/********************
top bar color
********************/
html{
  boarder-top: 20px;
}
h1 {
  color: red;
  text-shadow: 50%;
  font-weight: 300;
  text-align: center;
}
.background{
  color: #222;
  text-indent: 20px;
}

h2{
  color: blue;
}
